<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sudoku Online</title>
  <link rel="stylesheet" href="../css/application.css">
</head>
<body>
  <h1>Life is too short for playing Sudoku</h1>
  <div id="sudoku">
    <form action="/new_puzzle" method="get">
      <button id="new-puzzle" class="button">Generate New Puzzle</button>
    </form>
    <form action="/solution">
      <button id="give-up" class="button">Give up? Click for solution</button>
    </form>
    <form action="/" method="post">
      <% 3.times do |row| %>
        <div class="row">
          <% 3.times do |box| %>
            <div class="box">
              <% 3.times do |cell_row| %>
                <div class="cell-row">
                  <% 3.times do |cell| %>
                    <div class="cell">
                      <%= partial :_cell, :locals=>{:cell_index => row*27+box*3+cell_row*9+cell} %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <button id="check-solution" class="button">Check Solution</button>
    </form>
    <form action="/reset" method="get">
      <button id="reset" class="button">Reset the Board</button>
    </form>
  </div>

</body>
</html>